.wrapper
  .side-bar
    .header
      %h3.header__name
        SEO
      %ul.header__lists
        %li.list
          %a(href="")
            %i.fa.fa-pencil-square-o.icon
        %li.list
          %a(href="")
            %i.fa.fa-cog.icon
    .groups
      .group
        .group__name sample
        .group__message Good bye wolrd!
